.main-banner {
    background: url(https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg);
    background-position: top center;
    background-size: cover;
    padding-bottom: 40px;
    padding-top: 40px;
    text-align: center;
    font-family: Arial;
    
}
.soundcloud {
    background-position: top center;
    background-size: cover;
    padding-bottom: 40px;
    padding-top: 20px;
    text-align: center;
    font-family: Arial;
}

